.App {
  text-align: center;
}

.App {
  background-color: #DEB887;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(8px + 2vmin);
  color: white;
}
